<%= render 'shared/blog_sub_menu' %>

<%= render 'shared/blog_tabs', current: 'Images' %>

<%= form_for(:image, url: admin_post_image_url(@post), html: { method: :put, multipart: true }) do |f| %>
  <%= render 'spree/shared/error_messages', target: @image %>
  <table class="basic-table">
    <tr>
      <td><%= Spree.t(:thumbnail) %>:</td>
      <td><%= link_to image_tag(@image.attachment.url(:mini)), @image.attachment.url(:post) %></td>
    </tr>
    <%= render 'form' f: f %>
  </table>
  <p class="form-buttons">
    <%= button Spree.t(:update) %>
    <%= Spree.t(:or) %> <%= link_to Spree.t(:cancel), admin_post_images_url(@post), id: 'cancel_link' %>
  </p>
<% end %>
