<%= render 'shared/blog_sub_menu' %>

<%= render 'shared/blog_tabs', current: 'Images' %>

<table class="index">
  <tr>
    <th><%= Spree.t(:thumbnail) %></th>
    <th><%= Spree.t(:alt_text) %></th>
    <th><%= Spree.t(:action) %></th>
  </tr>

  <% @parent_object.images.each do |image| %>
    <tr id="<%= dom_id(image) %>">
      <td><%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product)) %></td>
      <td><%= image.alt %></td>
      <td class="actions">
        <%= link_to_with_icon('edit', Spree.t(:edit), edit_admin_post_image_url(@post, image)) %>
        &nbsp;
        <%= link_to_delete image, {url: admin_post_image_url(@post, image) } %>
      </td>
    </tr>
  <% end %>

</table>

<div id="images"></div>
<br/>
<p>
  <%= link_to icon('add') + ' ' + Spree.t(:new_image), new_admin_post_image_url(@post), id: 'new_image_link' %>
</p>

<% content_for :head do %>
  <script>
    jQuery(document).ready(function() {
      $('#new_image_link').on('click', function (e) {
        e.preventDefault();
        $(this).hide();
        $.ajax({
          type: 'GET',
          url: this.href,
          data: ({ authenticity_token: AUTH_TOKEN }),
          success: function(r) {
            $('#images').html(r);
          }
        });
      });
    });
  </script>
<% end %>
