<h4><%= Spree.t(:new_image) %></h4>

<%= form_for(:image, url: admin_post_images_path(@post), html: { multipart: true }) do |form| %>
  <table class="basic-table">
    <%= render 'form', f: form %>
  </table>
  <p class="form-buttons">
    <%= button Spree.t(:update) %>
    <%= Spree.t(:or) %> <%= link_to Spree.t(:cancel), "#", id: 'cancel_link' %>
  </p>
<% end %>

<script>
  jQuery('#cancel_link').on('click', function (event) {
    $('#new_image_link').show();
    $('#images').html('');
  });
</script>
